<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <link href="style.css" rel="stylesheet" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="header">
      <a href="/">Logout</a>
    </div>
    <div class="formbox">
      <p class="formtop"><%= title %></p>
          <p><%= message %></p>
        </div>
      </div>
    </div>
  </body>
</html>