<table>
  <tbody>
    <% forms.forEach(function (form) { %>
    <tr class="inputform">
      <td class="sentenceleft"><%= form.name %></td>
      <td>
        <input type="text" id="inputbox" name="<%= form.name %>" />
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
